<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <body>
          <form action = "/index" method = "POST">
             <p><h3> Indira's Sample Flask Snippets </h3></p>
             <a href = "/HelloWorld">Task 1: Hello World</a> <BR>
             <a href = "/student">Task1: Enter Data and Display entered values</a><BR>
             <a href = "/setcookie">Task 3,4: Set and Get Cookie</a><BR>
             <a href = "/Quotes">Task 6: Html and Image</a><BR>

          </form>
       </body>
</head>
<body>

</body>
</html>