<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <body>
          <form action = "/index" method = "POST">
             <p><h3> Indira's Sample Flask Snippets </h3></p>
              <table>
              <tr>
                <th align="left">Task ID</th>
                <th align="left">Description</th>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>1</td>
                <td><a href = "/helloworld">Hello World</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>1</td>
                <td><a href = "/student">Enter Data and Display entered values</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>2</td>
                <td><a href = "/authors">List of Authors</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>2</td>
                <td><a href = "/posts">List of Posts</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>2</td>
                <td><a href = "/count">List of Authors and Count of their Posts</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>3</td>
                <td><a href = "/setcookie">Set Cookies</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>4</td>
                <td><a href = "/getmycookie">Get Cookies</a> <BR></td>
                <p></p>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>5</td>
                <td><a href = "/robotsview">View robots.txt  :: Please configure your webserver location</a> <BR></td>
                <p></p>
              </tr>
              <tr>
                <td>5</td>
                <td><a href = "/robotsdeny">Deny as per robots.txt</a> <BR></td>
                <p></p>
              </tr>
              <tr>
                <td>6</td>
                <td><a href = "/quotes1">Html and Image</a> <BR></td>
                <p></p>
              </tr>
              <tr>
                <td>7</td>
                <td><a href = "/stdout">Post data to Endpoint and stdout</a> <BR></td>
                <p></p>
              </tr>

          </form>
       </body>
</head>
<body>

</body>
</html>